.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows: minmax(216px, auto);
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  grid-gap: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 48px;
    margin-right: 48px;
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 24px;
    margin-right: 24px;
    grid-gap: 16px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-rows: repeat(2, min-content);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 64px;
    grid-gap: 12px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: calc(100% - 32px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, min-content);
  }
}
