.place__website {
  margin: 0;
  padding: 0;
  width: 456px;
  height: 46px;
  align-self: flex-end;
  grid-area: url;
}

.place__website:nth-child(1) {
  margin-top: 106px;
}

@media screen and (max-width: 768px) {
  .place__website {
    width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    width: 288px;
    margin-top: 0;
  }
}
