.header__links {
  /* max-width: 78px;
  height: 28px;
  margin: 0; */
  display: flex;
  /* flex-direction: row;
  text-decoration: none; */
}

/* @media screen and (max-width: 320px) {
  .header__links {
    max-width: 62px;
  }
} */
