.place__paragraph {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  max-width: 484px;
  box-sizing: border-box;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    width: calc(100% - 32px);
    padding-left: 16px;
    align-self: center;
  }
}
